 <!-- jQuery Version 1.11.0 -->
    <script src="https://funchums.github.io/portfolio/js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://funchums.github.io/portfolio/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://funchums.github.io/portfolio/js/jquery.easing.min.js"></script>
    <script src="https://funchums.github.io/portfolio/js/classie.js"></script>
    <script src="https://funchums.github.io/portfolio//js/cbpAnimatedHeader.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="https://funchums.github.io/portfolio/js/freelancer.js"></script>

    {% if site.contact == "disqus" %}
    <!-- Disqus Stuff -->
    {% include js_disqus.html %}
    {% endif %}
